name: MergeMate PR Bot
on:
 push:
   branches-ignore:
      "main"
jobs:
 create-pr:
   runs-on: ubuntu-latest
   permissions:
     pulls: write
     contents: read
   steps:
     - name: Checkout repository
       uses: actions/checkout@v3
     - uses: oven-sh/setup-bun@v2
     - name: Run bot
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       run: bun i && bun src/bot.ts
